{% extends 'base/layout.html' %}

{% block content %}
<div class="ui card">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">
                        <a href="{% url 'department.detail' pk=employee.department_id %}">
                            {{ employee.department_name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://semantic-ui.com/images/avatar/large/{{ img | random }}.jpg">
    </div>
    <div class="content">
        <a class="header">{{ employee.name }}</a>
        <div class="meta">
            <span class="name">{{ employee.name_hira }}</span>
        </div>
        <div class="description">
            {{ employee.name_sei_kana }} is an art director living in New York.
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="icon envelope"></i>
            {{ employee.email }}
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('.card .image').dimmer({
        on: 'hover',
    });
</script>
{% endblock %}