{% extends 'base/layout.html' %}

{% block content %}
<h2 class="ui header">社員一覧</h2>

<table class="ui table">
    <thead>
        <tr>
            <th>社員番号</th>
            <th>名前</th>
            <th>よみがな（カナ）</th>
            <th>メールアドレス</th>
            <th>所属組織</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{ employee.code }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.name_hira }}
                ({{ employee.name_kata }})</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.department_name }}</td>
            <td>
                <button class="ui primary basic button tiny">
                    <a href="{% url 'employee.detail' pk=employee.id %}">
                        表示
                    </a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}