{% extends 'base/layout.html' %}

{% block content %}
<h2 class="ui header">社員一覧</h2>

<table class="ui table">
    <thead>
        <tr>
            <th>社員番号</th>
            <th>名前</th>
            <th>よみがな（カナ）</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{ employee.code }}</td>
            <td>{{ employee.name_sei }} {{ employee.name_mei }}</td>
            <td>{{ employee.name_sei_hira }} {{ employee.name_mei_hira }}
                ({{ employee.name_sei_kata }} {{ employee.name_mei_kata }})</td>
            <td>{{ employee.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}